@navigation__background: black;
@navigation-level0-item__color: white;
@footer__background-color: black;
@layout__max-width: 1150px;

@icons__font-name: 'FontAwesome';

@icon-font__size: 14px;
@icon-font__line-height: inherit;

@icon-wishlist-full: '\f004';
@icon-wishlist-empty: '\f08a';
@icon-success: '\f058';
@icon-error: '\f071';
@icon-warning: '\f071';
@icon-update: '\f021';
@icon-star: '\f005';
@icon-star-empty: '\f006';
@icon-settings: '\f013';
@icon-menu: '\f0c9';
@icon-location: '\f041';
@icon-info: '\f129';
@icon-list: '\f00b';
@icon-grid: '\f009';
@icon-comment-reflected: '\f075';
@icon-collapse: '\f147';
@icon-checkmark: '\f00c';
@icon-bag: '\f290';
@icon-cart: '\f291';
@icon-calendar: '\f073';
@icon-arrow-up: '\f176';
@icon-arrow-down: '\f175';
@icon-search: '\f002';
@icon-next: '\f105';
@icon-prev: '\f104';
@icon-pointer-down: '\f0d7';
@icon-pointer-up: '\f0d8';
@icon-pointer-right: '\f0da';
@icon-pointer-left: '\f0d9';
@icon-flag: '\f024';
@icon-expand: '\f196';
@icon-envelope: '\f0e0';
@icon-compare-full: '\f0ec';
@icon-compare-empty: '\f0ec';
@icon-comment: '\f075';
@icon-up: '\f106';
@icon-down: '\f107';
@icon-help: '\f059';
@icon-arrow-up-thin: '\f176';
@icon-arrow-right-thin: '\f178';
@icon-arrow-down-thin: '\f175';
@icon-arrow-left-thin: '\f177';
@icon-account: '\f007';
@icon-gift-registry: '\f274';
@icon-present: '\f06b';
@icon-trash: '\f1f8';
@icon-edit: '\f040';
@icon-remove: '\f00d';
@icon-print: '\f02f';
@icon-download: '\f0ab';
@icon-private: '\f023';


.navigation .level0 > .level-top:hover,
.navigation .level0 > .level-top.ui-state-focus {
    color: white;
    text-decoration: none;
}

.navigation .level0 .submenu .active > a {
    color: white;
}

.navigation .level0 .submenu a {
    text-align: left;
}

.copyright {
    background-color: black;
}

.block-minicart .items-total {
    float: none;
}

.owl-theme.owl-carousel .owl-controls .owl-dot span {
    border: 1px solid #000000;
}

.quick-links a {
    color: black;
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) { //MOBILE

    .block-search .control {
        padding-bottom: 0px;
    }

    .footer.content {
        background-color: black;
    }	

    .page-header .widget.block, .page-footer .widget.block {
        margin: 0px;
    }

    .footer.content .links a, .footer.content .links strong {
        padding: 0;
    }

    a.nav-sections-item-switch {
        color: white;
        font-size: 1.2em;
    }

    // .products-grid .product-item-actions {
    //     display: none;
    // }

    .products-grid .product-item {
        width: 49%;		
    }

    .footer.content .links a:link,
    .footer.content .links a:visited,
    .footer.content .links a:hover,
    .footer.content .links a:active,
    .navigation .submenu:not(:first-child) .active > a,
    .navigation .level0.active > a:not(.ui-state-active), .navigation .level0.has-active > a:not(.ui-state-active),
    .nav-sections .header.links li.greet.welcome,
    .navigation .level0.active > .level-top, .navigation .level0.has-active > .level-top,
    .navigation .level0 > .level-top,
    .navigation .submenu:not(:first-child) ul > li a
    {
        color: white;
    }		

    .page-header {
        border-bottom: 1px solid #ccc;
        margin-bottom: 0px;
    }

    .nav-toggle {
        top: 4px;
    }

    .block-search {
        margin-top: 0px;
    }

    .minicart-wrapper {
        margin-top: 0px;
    }

    .owl-carousel .owl-stage-outer {
        position: relative;
        overflow: hidden;
        padding: 0;
    }

    .nav-sections .header.links li.greet.welcome {
        display: none;
    }

    .block-collapsible-nav {
        top: -1px;
    }

    .home-page-separator {
        padding-bottom: 0px;
    }

    .owl-carousel-custom-1.owl-carousel.owl-theme.owl-loaded > .owl-controls > .owl-dots,
    .owl-carousel-custom-2.owl-carousel.owl-theme.owl-loaded > .owl-controls > .owl-dots,
    .owl-carousel-custom-3.owl-carousel.owl-theme.owl-loaded > .owl-controls > .owl-dots {
        bottom: -25px !important;
    }

    .panel.header {
        display: -webkit-box;
    }

    .free-shipping-image {
        display: none;
    }

    h2 {
        font-size: 2.8em;
    }

    h1 {
        font-size: 2.8em;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) { //MOBILE {

    .block-search .control {
        padding-bottom: 0px;
    }

    .footer.content {
        background-color: black;
    }	

    .page-header .widget.block, .page-footer .widget.block {
        margin: 0px;
    }

    .footer.content .links a, .footer.content .links strong {
        padding: 0;
    }

    a.nav-sections-item-switch {
        color: white;
        font-size: 1.2em;
    }

    // .products-grid .product-item-actions {
    //     display: none;
    // }

    .products-grid .product-item {
        width: 49%;		
    }

    .footer.content .links a:link,
    .footer.content .links a:visited,
    .footer.content .links a:hover,
    .footer.content .links a:active,
    .navigation .submenu:not(:first-child) .active > a,
    .navigation .level0.active > a:not(.ui-state-active), .navigation .level0.has-active > a:not(.ui-state-active),
    .nav-sections .header.links li.greet.welcome,
    .navigation .level0.active > .level-top, .navigation .level0.has-active > .level-top,
    .navigation .level0 > .level-top,
    .navigation .submenu:not(:first-child) ul > li a
    {
        color: white;
    }		

    .page-header {
        border-bottom: 1px solid #ccc;
        margin-bottom: 0px;
    }

    .nav-toggle {
        top: 4px;
    }

    .block-search {
        margin-top: 0px;
    }

    .minicart-wrapper {
        margin-top: 0px;
    }

    .owl-carousel .owl-stage-outer {
        position: relative;
        overflow: hidden;
        padding: 0;
    }

    .nav-sections .header.links li.greet.welcome {
        display: none;
    }

    .block-collapsible-nav {
        top: -1px;
    }

    .home-page-separator {
        padding-bottom: 0px;
    }

    .owl-carousel-custom-1.owl-carousel.owl-theme.owl-loaded > .owl-controls > .owl-dots,
    .owl-carousel-custom-2.owl-carousel.owl-theme.owl-loaded > .owl-controls > .owl-dots {
        bottom: -25px !important;
    }

    .panel.header {
        display: -webkit-box;
    }

    .checkout-success .logo {
        float: none;
        position: inherit;
        margin: auto;
        width: 50%;
    }

    .checkout-success .thank-you {
        display: block;
        font-size: 50px;
        font-weight: bold;
        clear: both;
        text-align: center;
        color: black;
    }

    .checkout-success .message {
        font-size: 16px;
        text-align: center;
        width: 100%;
        margin: auto;
        padding-bottom: 3%;
    }

    .checkout-success .order-info {
        font-size: 16px;
        text-align: center;
        width: 60%;
        margin: auto;
        padding-bottom: 3%;
    }

    .checkout-success .order-info > p > a {
        color: black;
    }

    .checkout-success > div.order-info > p > a > strong {
        display: block;
    }

    .checkout-success .order-info .actions-toolbar {
        margin: 0;
        width: 100%;
    }

    .checkout-success > .order-info > div > .primary {
        float: none;
        display: block;
    }

    .checkout-success > .order-info > div > div > .action.primary.continue {
        display: block;
        float: none;
    }

    .checkout-success .social-media {
        padding: 10px;
    }

    .checkout-success .social-media .message {
        display: block;
    }

    .checkout-success .social-media-icons {
        list-style-type: none;
        // background-color: black;
    }

    .checkout-success .social-media-icons>li {
        padding-right: 10px;
    }

    .checkout-success .social-media-icons > li img {
        width: 25px;
    }

    .checkout-success .social-media-icons > li a {
        color: black;
    }

    .checkout-success .social-media .tbl {
        display: table;   /* Allow the centering to work */
        margin: 0 auto;
    }

    .free-shipping-image {
        display: none;
    }

    h2 {
        font-size: 2.8em;
    }

    h1 {
        font-size: 2.8em;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) { //DESKTOP

    // for new navigation style
    // .nav-sections {
        //     background: white;
    // }
    //
    // .navigation {
        //    background-color: white 
    // }
    //
    // .navigation .level0 .submenu .active > a {
        //     color: white;
    // }
    //
    // .navigation .level0 > .level-top  {
        //     background-color: white;
    // }
    //
    // .navigation .level0 > .level-top:hover,
    // .navigation li.level0:hover {
        //     color: white;
        //     background-color: black;
        //     text-decoration: none;
    // }
    //
    // #ui-id-2 {
        //     border-bottom: 1px solid;
    // }

    .header-welcome {
        display: none;
    }

    .footer.content .widget {
        clear: none;
    }

    .page-layout-1column .block.widget .products-grid .product-item:nth-child(4n + 1) {
        margin-left: 0px !important;
    }

    .block-search .control {
        padding-bottom: 15px;
    }

    .header.panel > .header.links > li > a:link,
    .header.panel > .header.links > li > a:visited,
    .header.panel > .header.links > li > a:hover,
    .header.panel > .header.links > li > a:active {
        color: black;
    }

    .navigation .level0 > .level-top {
        color: white;
    }

    .navigation .level0.active > .level-top, 
    .navigation .level0.has-active > .level-top,
    .navigation .level0 .submenu a
    {
        color: white;
    }	

    .navigation .level0 .submenu {
        background-color: black;
    }

    // .products-grid .product-item-actions {
        //     display: none;
    // }

    .page-header .header.panel {
        float: right;
        padding-top: 0px;
    }

    .page-header .widget.block, .page-footer .widget.block {
        margin: 5px 0;
        // display: inline-block;
    }

    .footer.content .block {
        float: none;
    }

    .footer.content .widget.block.block-static-block {
        display: inline-block;
    }

    .footer.content .block.newsletter {
        float: right;
    }

    // .footer.content .links {
        //     padding-left: 50px;
    // }

    .navigation li.level0 {
        padding-left: 1px;
        padding-right: 2px;
    }

    .footer.content .links a:link,
    .footer.content .links a:visited,
    .footer.content .links a:hover,
    .footer.content .links a:active {
        color: white;
    }

    .navigation ul {
        text-align: center;
    }

    .page-products .columns {
        position: static;
    }

    .page-layout-1column.page-with-filter .column.main {
        position: static;
    }

    .message.success {
        margin: 10px 0px;
        padding: 12px 20px 12px 25px;
        display: block;
        font-size: 1.3rem;
        background: #e5efe5;
        color: #006400;
        padding-left: 45px;
        position: relative;
    }

    // This is to remove the space from this generated element not sure 
    // what it is being generated
    .column.main > p:nth-child(3) {
        margin-bottom: 0;
    }

    // Add padding between this h3 and the carousel
    .column.main > h3 {
        margin-top: 5rem; 
    }

    //, .page-wrapper>.top-container, .page-wrapper>.widget 
    .breadcrumbs {
        padding-top: 20px;
    }

    .block-search {
        float: left;
        padding-left: 35px;
        position: relative;
        width: 400px;
        z-index: 4;
        top: -5px;
    }

    .block-search input {
        margin: 0;
        padding: 18px 35px 18px 18px;
        position: static;
    }

    .block-search .action.search.disabled, 
    .block-search .action.search[disabled], 
    fieldset[disabled] .block-search .action.search {
        padding-top: 4px;
    }

    .header.panel>.header.links {
        margin: 0;
        padding: 4px 0 0 0;
        list-style: none none;
        float: right;
        margin-left: auto;
    }
    .logo {
        margin: 4px auto 25px 0;
    }

    .block-search .action.search:before {
        font-size: 24px;
    }

    .page-wrapper > header > div > .widget.block.block-static-block {
        display: inline-block;
        margin: 0;
    }

    .authorization-link {
        text-transform: uppercase; 
    }

    .header.panel > .header.links > li {
        margin: 0 2px 0 12px;
    }

    .header.panel > .header.links > li:nth-child(4) > a {
        padding-left: 10px;
    }

    .home-page-separator {
        padding-bottom: 80px;
    }

    // .panel.header > .widget.block .block-static-block {
        //     display: inline-block;
    // }
    
    .owl-carousel-custom-1.owl-carousel.owl-theme.owl-loaded > .owl-controls > .owl-dots,
    .owl-carousel-custom-2.owl-carousel.owl-theme.owl-loaded > .owl-controls > .owl-dots,
    .owl-carousel-custom-3.owl-carousel.owl-theme.owl-loaded > .owl-controls > .owl-dots {
        bottom: -45px !important;
    }

    .checkout-success .logo {
        float: none;
        position: inherit;
        margin: auto;
        width: 15%;
    }

    .checkout-success .thank-you {
        display: block;
        font-size: 120px;
        font-weight: bold;
        clear: both;
        text-align: center;
        color: black;
    }

    .checkout-success .message {
        font-size: 24px;
        text-align: center;
        width: 60%;
        margin: auto;
        padding-bottom: 3%;
    }

    .checkout-success .order-info {
        font-size: 24px;
        text-align: center;
        width: 60%;
        margin: auto;
        padding-bottom: 3%;
    }

    .checkout-success .order-info > p > a {
        color: black;
    }

    .checkout-success > div.order-info > p > a > strong {
        display: block;
    }

    .checkout-success .order-info .actions-toolbar {
        margin: auto;
        width: 50%;
        padding: 10px;
    }

    .checkout-success > .order-info > div > .primary {
        float: none;
        display: block;
    }

    .checkout-success > .order-info > div > div > .action.primary.continue {
        display: block;
        float: none;
    }

    .checkout-success .social-media {
        margin: auto;
        width: 60%;
        padding: 10px;
    }

    .checkout-success .social-media .message {
        display: block;
    }

    .checkout-success .social-media-icons {
        list-style-type: none;
        // background-color: black;
    }

    .checkout-success .social-media-icons>li {
        display: inline;
        padding-right: 10px;
    }

    .checkout-success .social-media-icons > li img {
        width: 25px;
    }

    .checkout-success .social-media-icons > li a {
        color: black;
    }

    .checkout-success .social-media .tbl {
        display: table;   /* Allow the centering to work */
        margin: 0 auto;
    }

    .free-shipping-image {
        display: inline-block;
        width: 200px;
        float: left;
        padding-left: 20px;
        position: relative;
        top: -2px;
    }

    #maincontent > .columns > .column.main > p:nth-child(4) {
        display: none;
    }

    h2 {
        font-size: 3.8em;
    }

    h1 {
        font-size: 2.8em;
    }
}

.post-holder .block.widget .products-grid .product-items {
    text-align: center;
}

.post-view .post-holder {
    background: #ffffff;
}

.post-holder:hover {
    box-shadow: none;
}

// banner will have no space between it and the main menu
.sections.nav-sections {
    margin-bottom: 0px;
}

// banner will have no space between it and the main menu
.owl-carousel .owl-stage-outer {
    padding: 0px;
}


.store-links {
    list-style-type: none;
}

.store-links li a:link,
.store-links li a:visited,
.store-links li a:hover,
.store-links li a:active {
    color: black;
}

.footer.content .links h3 {
    color: white;
}

.filter-options-item.allow.active > .filter-options-content > ol,
.block-content.filter-content > .filter-current > ol { 
    list-style-type: none;
}

.page-layout-1column .block.widget .products-grid .product-item	{
    margin-left: 0;
}

ul.nav.items {
    list-style-type: none;
    padding-left: 0px;
}

.weltpixel-slider {
    text-align: center;
    text-transform: uppercase;
}

.social-media-buttons > a {
    padding-right: 15px;
}

.ui-datepicker {
    width: 260px;
}

.demo-tooltip {
    .lib-tooltip(right);
}

.checkout-success {
    padding-top: 20px;
}
.paypal.checkout.after.paypal-logo {
    display: none;
}

.card:before {
    -webkit-font-smoothing: antialiased;
    font-size: 48px;
    line-height: 48px;
    color: inherit;
    font-family: 'FontAwesome';
    margin: -2px 5px 0 0;
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}

.card.mastercard:before {
    content: '\f1f1';
}

.card.visa:before {
    content: '\f1f0';
}

.card.paypal:before {
    content: '\f1f4';
}

.card.cod:before {
    content: '\f0d1';
}

.page-main>.page-title-wrapper .page-title {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    display: block;
}

#ui-id-9 > span {
    text-transform: uppercase;
}
.pslogin_register_container {
    display: none;
}

// #ui-id-3 {  /* RED SALE */
//      background-color: red;
//      display: inline-block;
//  }



