#newsletter-validate-detail > h3,
#newsletter-validate-detail > .field.newsletter > h5,
#newsletter-validate-detail > .field.social-media > h3 {
    color: white;
}

#newsletter-validate-detail > div > div > button {
    margin-left: -46px;
    margin-top: -4px;
    background-color: white;
    color: black;
    border: none;
}

#newsletter {
    width: 85%;
}
