<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product additional attributes template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Attributes
 */
?>
<?php
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $_product = $block->getProduct();

    function checkEmpty($value) {
        return (trim($value['value']) == '' || 
            trim($value['value']) == 'N/A' || 
            trim($value['value']) == 'select label' || 
            trim(strtolower($value['value']) == 'no'));
    }

    if ($_additional = $block->getAdditionalData()) {

        $emptyAttributes = array_filter($_additional, "checkEmpty");
        if (count($_additional) > count($emptyAttributes)) {
?>
    <div class="additional-attributes-wrapper table-wrapper">
        <table class="data table additional-attributes" id="product-attribute-specs-table">
            <caption class="table-caption"><?php /* @escapeNotVerified */ echo __('More Information') ?></caption>
            <tbody>			
            <?php foreach ($_additional as $_data): ?>
                <?php if(strtolower($_data['label']) == 'select label' || trim($_data['value']) == '' || trim($_data['value']) == 'N/A' || trim(strtolower($_data['value'])) == 'no') continue; ?>
                <tr>
                    <th class="col label" scope="row"><?php echo $block->escapeHtml(__($_data['label'])) ?></th>
                    <td class="col data" data-th="<?php echo $block->escapeHtml(__($_data['label'])) ?>"><?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php 
        }
    } 
?>
