.control-qty .btn {
    padding: 5px 5px 0px 5px;
    background: none;
    border: none;
    margin: 6px;
    background-color: black;
    color: white;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome and Opera */
    font-weight: bold;
    font-size: 10px
}
.btn-container {
    display: inline-flex;
    background-color: black;
}

.control-qty  {
    border-style: solid;
    border-width: 1px;
    display: inline-block;
}

#qty {
    border-style: none;
    padding: 0px;
    width: 30px;
    height: 13px;
}

.fieldset > .field.qty > .label {
    display: none;
}

// .fieldset > .field.qty {
//     float: left;
//     padding-right: 70px;
// }

.social-share-fb, .social-share-twitter {
    display: inline-block;
}

.social-share-twitter {
    // padding-left: 10px;
    position: relative;
    top: 6px;
}

.product-info-main .product-add-form {
    padding-top: 0px;
}

.review-control-vote label::before, 
.rating-summary .rating-result > span::before {
    color: #ffd501;
}

.review-control-vote label::before, .review-control-vote::before {
    font-size: 24px;
    height: 24px;
    letter-spacing: 10px;
    line-height: 24px;
}

.product-item-name {
    hyphens: none;
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) { //DESKTOP

    .page-layout-2columns-right .column.main {
        width: 100%;
    }

    // .page-layout-2columns-right .column.main {
    //     width: 79.11116%;
    //     float: right;
    // }

    #page-title-heading {
        padding-left: 20px;
    }

    .products.products-grid,
    .toolbar-products
    {
        padding-left: 20px;
    }
    
    .sidebar-additional {
        clear: none;
    }

    // .page-wrapper>.breadcrumbs,
    // .page-main>.page-title-wrapper .page-title
    // {
    //     display: none;
    // }

    .page-title-wrapper.product > .page-title {
        padding-top: 30px;
        margin-bottom: 13px;
    }

    .page-layout-2columns-left .product.media, 
    .page-layout-2columns-right .product.media, 
    .page-layout-3columns .product.media {
        padding-top: 50px;
    }

    .product-social-links .action.tocompare, 
    .product-social-links .action.mailto.friend, 
    .product-social-links .action.towishlist {
        float: right;
        font-size: 12px;
        font-weight: 100;
        text-transform: none;
        margin-right: 1%;
    }

    .product-social-links > .widget.block.block-static-block {
        margin: 0;
        float: left;
        position: relative;
        top: -23px;
    }

    .product-info-main .page-title-wrapper.product > h1 > span {
        text-transform: uppercase;
    }

    .product-info-main .product-reviews-summary {
        float: none;
    }

    .product-info-main .product-info-price {
       border-bottom: none;
       margin-bottom: 0;
    }
    .product-info-main .product-info-price .price-box {
        padding-bottom: 0px;
    }

    .product-options-bottom .price-box .price-container .price, 
    .product-info-price .price-box .price-container .price {
        font-weight: 200;
    }

    .box-tocart {

        margin-bottom: 15px;

        .paypal:first-of-type {
            margin-top: 0px;
        }
        .fieldset {
            margin: 30px 0 5px;
        }
        .action.tocart {
            padding: 4px 17px;
            width: 34%;
            span {
                font-size: 1.5rem;
                font-weight: 100;
            }
        }
    }

    .outofstock-label,
    .newproduct-label,
    .saleproduct-label {
        display: none;
        // width: 100px; 
        // position: absolute; 
        // z-index: 1; 
        // left: 0px; 
        // top: 20px;
    }

    .search.results .product.actions.product-item-actions {
        display: none;
    }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) { //MOBILE

    .product-info-main .product-reviews-summary {
        width:100%;
        display:block;
    }

    .outofstock-label,
    .newproduct-label,
    .saleproduct-label {
        display: none;
        // width: 100px; 
        // position: absolute; 
        // z-index: 1; 
        // left: 0px; 
        // top: 20px;
    }
    .freegift-quote-container .product.actions.product-item-actions {
        display: block;
    }
}

.product-item {
    .old-price {
        .price {
            text-decoration: line-through;
        }
    }
}

.product-options-bottom .price-box .old-price .price-container>.price-wrapper>.price, 
.product-info-price .price-box .old-price .price-container>.price-wrapper>.price {
    text-decoration: line-through;
}

.sale-percent {
    color: red;
    font-weight: bold;
    font-size: 2rem;
    font-weight: 300
}

.paypal.checkout.after.paypal-logo, 
.paypal.checkout.before.paypal-logo {
    display: none;
}

.filter-options-content > .items {
    list-style-type: none;
}

.freegift-quote-container .outofstock-label,
.freegift-quote-container .newproduct-label,
.freegift-quote-container .saleproduct-label,
.freegift-quote-container .outofstock-list,
.freegift-quote-container .newproduct-list,
.freegift-quote-container .saleproduct-list {
    display: none;
}
