<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="block newsletter">
    <div class="title"><strong>Newsletter</strong></div>
    <div class="content">
        <form class="form subscribe"
            novalidate
            action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>"
            method="post"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}'
            id="newsletter-validate-detail">
            <h3>JOIN OUR MAILING LIST</h3>
            <div class="field newsletter">
                <h5 style="font-weight: 100">Join our list and be the first to know about our exciting discounts!</h5>
                <div class="control">
                    <input name="email" type="email" id="newsletter"
                                placeholder="<?php /* @escapeNotVerified */ echo __('Email address') ?>"
                                data-validate="{required:true, 'validate-email':true}"/>
                    <!-- <button class="action subscribe primary" title="<?php /* @escapeNotVerified echo __('Subscribe') */ ?>" type="submit"> -->
                    <!--     <span><?php /* @escapeNotVerified echo __('>') */ ?></span> -->
                    <!-- </button> -->
                </div>
            </div>
            <div class="field social-media">
                <h3>FOLLOW US</h3>
                <div class="social-media-buttons">
                   <a id="fb" href="https://www.facebook.com/TONYMOLYPhilippines/">
                        <img src="<?php echo $this->getViewFileUrl('images/Fb_Icon-23.svg'); ?>" 
                                alt="TONYMOLY Philippines Facebook"
                                title="TONYMOLY Philippines Facebook" />
                   </a>
                   <a id="ig" href="https://www.instagram.com/tonymolyph/">
                        <img src="<?php echo $this->getViewFileUrl('images/IG_Icon-24.svg'); ?>" 
                                alt="TONYMOLY Philippines Instagram"
                                title="TONYMOLY Philippines Instagram" />
                   </a>
                   <a id="pin" href="https://www.pinterest.com/pin/6192518215856535/">
                        <img src="<?php echo $this->getViewFileUrl('images/Pinterest_Icon-25.svg'); ?>" 
                                alt="TONYMOLY Philippines Pinterest"
                                title="TONYMOLY Philippines Pinterest" />
                   </a>
                   <a id="yt" href="https://www.youtube.com/channel/UC7mb4T8H-V_00bUyfXNZJNw">
                        <img src="<?php echo $this->getViewFileUrl('images/YT_Icon-26.svg'); ?>" 
                                alt="TONYMOLY Philippines Youtube"
                                title="TONYMOLY Philippines Youtube" />
                   </a>
                </div>
            </div>
        </form>
    </div>
</div>
